/* #container {
  height: 500px;
  width: 500px;
  border: 1px solid black;
} */

#ball {
    height: 50px;
    width: 50px;
   
    border-radius: 50%;
    background-color: cadetblue;
    position: absolute;
    box-sizing: border-box;
  }
  